#Nav__Title{
    color: #c45500;
    font-size: 14px;
    margin-top: 4px;
}
#Heading{
    font-size: 28px;
    font-weight: 500;
}
#search{
    width: 100%;
    font-size: 14px;
    outline: none;
    border: none;
    font-weight: 400;
}
#Search__Button{
    outline: none;
    color: white;
    padding: 2px 15px 5px 15px;
    font-size: 14px;
    border-radius: 3.5px;
    border: 1px solid rgb(32, 32, 32);
    background-color: rgb(80, 80, 80);
}
#Search__Button:hover{
    background-color: rgb(66, 66, 66);
}

#Record{
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    padding: 0px 5px 4px 5px;
    background-color: #ebebeb;
}
#Record:hover{
    background-color: #dadada;
}